$blue: #0070bb;
$red: #bb0000;
$green: #0ebb00;
$grey: #5e5e5e;
$white: #FFF;
$black: #000;
$orange: #f56640;

$c7_orange_1: #F59D5B;
$c7_orange_2: #EF7E59;
$c7_orange_3: #EB5E54;
$c7_orange_4: #E64859;